.menu-bar {
    background: #363c55;
}

.menu-bar ul {
    padding: 20px;
    text-align: center;
}
.menu-bar li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #ffffff;
    display: inline-block;
    vertical-align: bottom;
    width: 19%;
}

.menu-bar li span {
    display: block;
}

.menu-bar img {
    margin: auto;
}

.main-banner {
    background: url("../img/main-banner.jpg") no-repeat center center;
    background-size: cover;
    height: 500px;
}

.about {
    background-color: #f2f2f2;
    padding: 10vh 0;
}

.about h1 {
    text-indent: -9000px;
    background: url("../img/logo-i-boards.png") center center no-repeat;
    height: 67px;
}
.about p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 20px;
    color: #373d56;
    text-align: center;
    width: 610px;
    margin: auto;
}

.section {
    background: url("../img/bg.png") repeat-y top center;
    background-size: cover;
    padding: 15vh 0 0;
}
.section-content {
    padding: 20vh 0 30vh;
}
.section-content:last-child {
    padding: 20vh 0 10vh;
}
.section img {
    margin: auto;
}  
.section h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #373d56;
    font-size: 2.5em;
    padding-left: 7%;
}
.section p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #373d56;
    font-size: 1.4em;
    padding-left: 7%;
}

.contacto {
    background: #363c55;
    color: #ffffff;
    padding-bottom: 50px;
}

.contacto h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #282c40;
    padding: 30px 0;
    margin-bottom: 4%;
    margin-top: 0px;
}
.contacto h3 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
.contacto input,
.contacto textarea  {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ffffff;
    box-shadow: none;
    color: #ffffff;
}

.contacto input::placeholder,
.contacto textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
}

.contacto input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
}

.contacto input::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
}

.contacto .contact__nombre {
    padding-left: 0px;
}
.contacto .contact__apellido {
    padding-right: 0px;
}
.contacto .help-block {
    margin-top: 0;
    font-size: 12px;
    color: #ffffff;
}
.contacto .checkbox label {
    font-size: 12px;
}
.contacto .form-submit {
    padding: 30px;
    text-align: center;
}
.contacto .form-submit .btn-default {
    color: #ffffff;
    border-color: #ccc;
    background-color: #23b2b4;
    padding: 6px 40px;
    border-radius: 0;
}
.gracias__mensaje {
    text-align: center;
    padding: 50px 0;
}


@media (max-width: 767px){
    .about p {
        width: 100%;
    }
    .section {
        padding: 0;
    }
    .section-content {
        padding: 15vh 0 0;
    }
    .contact__nombre {
        padding: 0px;
        margin-bottom: 15px;
    }

    .contact__apellido {
        padding: 0px;
    }
}