.navbar {
    padding: 0;
}
html, body {
    height: auto;
    width: 100%;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
* {
    outline: none;
}
ul {
    list-style: none;
    padding: 0;
}
.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.no-padding-left {
    padding-left: 0 !important;
}
.upper {
    text-transform: uppercase;
}
.bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
a, a:focus, a:hover {
  text-decoration: none;
  color: inherit;
}
a.link {
    text-decoration: underline;
}

.container-fluid {
    padding: 0;
    margin: 0;
}
.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.navbar-default {
    background-color: #ffffff;
    border: none;
    display: block;
}
.navbar-header .logo {
    padding: 15px 15px 10px;
}
.main-menu {
    
}
.navbar-default .navbar-nav>li {
    float: none;
    display: inline-block;
}
.navbar-default .navbar-nav>li>a {
    font-family: 'Montserrat';
    font-weight: 700;
    margin-top: 15px;
    color: #363c55;
}
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a.active {
    color: #FFFFFF;
    background-color: #67b0b2;
}
.navbar-default .navbar-nav>li>a.disabled,
.navbar-default .navbar-nav>li>a.disabled:hover {
    color: #999999;
    background-color: transparent;
    cursor: default;
} 
.navbar-nav>li>a:focus {
    outline: none;
}

input.error, textarea.error  {
    border: 3px solid red;
}
label.error {
    display: none !important;
}
input[type="checkbox"].error {
    outline: 2px solid red;
}

@media (max-width: 767px){
    .navbar-header .logo {
        max-width: 290px;
        padding: 20px 15px 10px;
    }
    .navbar-default .navbar-toggle {
        margin-right: 25px;
        margin-top: 25px;
        border: none;
        background-color: transparent !important;
    }
    .navbar-toggle .icon-bar {
        width: 35px;
        height: 5px;
        border-radius: 0;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #323855;
    }
    .navbar-default .navbar-nav>li {
        display: block;
        font-size: 18px;
    }
    .navbar-default .navbar-nav>li>a {
        margin-top: 0px;
        padding: 20px; 
    } 
    .main-menu {
        width: 100%;
        border-bottom: 1px solid #e4e8eb;
    }
    .navbar-nav {
        margin: auto;
    }
}